body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 25px;
}

.title {
  text-align: center;
  padding-bottom: 15px;
}

.left {
  max-height: 200px;
  text-align: left;
  padding-left: 10px;
}

.right {
  max-height: 200px;
  text-align: right;
  padding-right: 55px;
  padding-bottom: 25px;
}

img {
  height: 250px;
  padding-bottom: 25px;
}

.info {
  padding-top: 10px;
}

button {
  background-color: white;
  border: none;
  font-weight: bold;

}